<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ .Title }}</title>
</head>

<body>

<h1>{{ .Title }}</h1>

<!--
<a href="/">Home</a><br>
<a href="/about">About</a><br>
<a href="/posts">Posts</a><br>
<a href="/logs">Logs</a><br>
<a href="/projects">Projects </a><br>
<a href="/projects-list">Projects List </a><br>
<a href="/contact-me">Contact Me</a>
-->
<a href="/">Home</a>&ensp;
<a href="/logs">Logs</a>&ensp;
<a href="/projects">Projects</a>&ensp;
<a href="/pending">Pending</a>&ensp;
<a href="/about">About</a>&ensp;
<a href="/contact-me">Contact Me</a>

<hr>

<ul>
{{ range .Pages.ByDate.Reverse }}
  <li>
{{ .Date.Format  "2006-01-02"}}&ensp;
{{ .Date.Format  "15:04"}}&ensp;
<a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
{{ end }}
</ul>

</body>

<footer>
<hr>
Copyright © Andy Wei-Hsiang Lin, 2026
</footer>

</html>
