<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <title>Andy Lin</title>
</head>
<body>

<h1>Andy Lin</h1>

<!--
<a href="/">Home</a><br>
<a href="/about">About</a><br>
<a href="/posts">Posts</a><br>
<a href="/logs">Logs</a><br>
<a href="/projects">Projects </a><br>
<a href="/projects-list">Projects List </a><br>
<a href="/contact-me">Contact Me</a>


<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/posts">Posts</a></li>
  <li><a href="/logs">Logs </a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/projects-list">Projects List</a></li>
  <li><a href="/contact-me">Contact Me </a></li>
</ul>
-->
<a href="/">Home</a>&ensp;
<a href="/content/logs">Logs</a>&ensp;
<a href="/content/projects">Projects</a>&ensp;
<a href="/content/pending">Pending</a>&ensp;
<a href="/content/about">About</a>&ensp;
<a href="/content/contact-me">Contact Me</a>

<hr>

<p>Actuary | Investor | Linux User</p>







</body>

<footer>
<hr>
Copyright © Andy Wei-Hsiang Lin, 2026
</footer>


</html>
